<div class="container-fluid manageComments">
    

  <script type="text/ng-template" id="group-template.html">
    <div class="panel {{panelClass || 'panel-default'}}">
      <div class="panel-heading">
        <h4 class="panel-title" style="color:#fa39c3">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span
            ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
        </h4>
      </div>
      <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" style="text-align: right" ng-transclude></div>
      </div>
    </div>
  </script>

 
  <uib-accordion close-others="oneAtATime">
    
    <uib-accordion-group heading="{{product.name}}" ng-repeat="product in products track by product._id">
        <ul>
            <li ng-repeat="comment in product.comments track by comment._id">
                <button class="btn btn-secondary" ng-click="deleteComment(product._id, comment._id)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                {{comment.user}} -  {{comment.comment}}
            </li>
        </ul>
      
    </uib-accordion-group>
    
  </uib-accordion>

    
   
</div>
