/*STYLING FOR MAIN PAGE AND MAIN PAGE COMOPONENT DIRECTIVES*/

body, html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/concretelighter.jpg');
    background-size: cover;
}

.header {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    height: 50px;
    position: relative;
}

.header img {
    width: 400px;
    height: auto;
    position: absolute;
    top: 35px;
    left: 5%;
}

.topMenu {
    width: 100%;
    text-align: right;
    padding-top: 55px;
    padding-left: 0;
    padding-right: 0;
}

.linksBox {
    width: 100%;
    padding: 5px 15px 2px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.topMenu a {
    color: #3ba1e1;
    font-family: 'Economica', sans-serif;
    font-size: 2em;
    padding-left: 10px;
}

.grey {
    background: rgba(49, 49, 49, .6);
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 10px;
    
}

.main {
    min-height: 500px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.footer {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    height: 75px;
}

.bottomMenu {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 5px 15px 5px 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: -57px;
}

.bottomMenu a {
    color: #3ba1e1;
    font-family: 'Economica', sans-serif;
    font-size: 2em;
    padding-left: 20px;
}

.topMenu a, .bottomMenu a {
    text-decoration: none;
}

.topMenu a:hover, .bottomMenu a:hover {
    color: #93d9f3;
}

@media (max-width: 1027px) {
    .header img {
        width: 200px;
        height: auto;
        position: absolute;
        top: 73px;
    }
}

@media (max-width: 730px) {
    .header img {
        width: 200px;
        height: auto;
        position: absolute;
        top: -20px;
    }
    
    .topMenu {
        margin-top: 30px;
    }
}

/*STYLING FOR HOME PAGE VIEW*/

.homeView {
    font-family: sans-serif;
    padding-top: 70px;
    padding-bottom: 40px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.homeView h3, h4 {
    font-family: 'Economica', sans-serif;
    text-align: center;
}

.homeView h3 {
    font-size: 2.5em;
}

.homeView h4 {
    font-size: 2em;
}

.solutions ul {
    list-style-type: none;
    font-size: large;
}

.solutions li {
    padding-top: 30px;
}

.newProduct {
    border-left: 1px solid #cccccc;
}

.newProduct img {
    max-width: 50%;
    height: auto;
    float: right;
}

.newProduct p {
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    float: left;
    width: 50%;
}

#newGun {
    color: #3ba1e1;
    text-transform: uppercase;
}

.big {
    margin-bottom: 50px;
}

.rewards {
    text-align: center;
    border-top: 1px solid black;
    padding-top: 20px;
}

@media (max-width: 991px) {
    .newProduct {
        border-left: none;
        border-top: 1px solid #cccccc;
    }
    
    .solutions {
        padding-bottom: 30px;
    }
}

/*STYLING FOR ALLPRODUCTS VIEW*/

.allProducts {
    margin-top: 90px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.allProducts h2 {
    font-family: 'Economica', sans-serif;
    font-size: 3em;
}

.product {
    padding-bottom: 30px;
}


/*STYLING FOR CAREERS VIEW*/

.listings {
    font-family: sans-serif;
    padding-top: 80px;
    padding-bottom: 40px;
}

.listings h4 {
    font-size: 2em;
    text-align: left;
}

.listings div {
    padding-bottom: 30px;
}


/*STYLING FOR ADMIN VIEW*/

.adminChoices {
    max-width: 100%;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.adminChoices h1 {
    font-family: 'Economica', sans-serif; 
    padding-bottom: 30px;
}

.adminChoices ul {
    list-style-type: none;
    font-size: 1.6em;
}

.adminChoices li {
    padding-bottom: 15px;
}

.adminChoices a {
    text-decoration: none;
    color: #3ba1e1
}

/*STYLING FOR ADMIN > ADD PRODUCT VIEW*/

.enterProduct {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.enterProduct h3 {
    font-family: 'Economica', sans-serif; 
    font-size: 2.5em;
    margin-bottom: 30px;
}

/*STYLING FOR ADMIN > REMOVE PRODUCT VIEW*/

.currentProduct {
    padding-top: 30px;
    color: black;
}

.currentProduct h4 {
    text-align: left;
    font-size: 2em;
    padding-bottom: 20px;
}

.currentProduct ul {
    list-style-type: circle;
}

.currentProduct li {
    font-size: .75em;
}

/*STYLING FOR ADMIN > UPDATE PRODUCT VIEW*/

.availableProduct h4 {
    text-align: left;
    font-size: 2em;
    padding-bottom: 20px;
}

.availableProduct li {
    font-size: 75%;
}

.availableProduct .btn {
    height: 30px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 3px;
}

.viewDetails {
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding-top: 15px; 
}

.viewDetails ul {
    padding-left: 10px; 
}

.viewDetails li {
    font-size: .75em;
}

.form-group {
    padding-top: 20px;
    padding-bottom: 10px;
}

.dropDown {
    width: 30%;
    margin-bottom: 15px;
}

.form-group .btn {
    margin-top: 15px;
}
