<div class="container-fluid contactUs">

    <div class="row">
        <div class="intro col-md-12">
            <p class="larger">Zorg Industries is looking forward to hearing from you!</p>
            <p>Send us a comment or question and our friendly Borgia&copy; synthetic personalities will answer at their earliest convenience.</p>
            <p><i>* Not responsible for delays due to unexpected sentience.</i></p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 emailForm">
            <form>
                <fieldset class="form-group">
                    <label for="InputEmail">Your Email Address</label>
                    <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Enter email" ng-model="userEmail">
                    <small class="text-muted">We'll never share your email with anyone else.* <br>* Not applicable to subsidiaries, branches, successors, assigns, and investors of Zorg Industries</small>
                </fieldset>

                <fieldset class="form-group">
                    <label for="emailText">Your Message</label>
                    <textarea class="form-control" name="text" id="emailText" rows="4" placeholder="Enter your message to us here" ng-model="emailText"></textarea>
                </fieldset>
                
                <button type="submit" class="btn btn-secondary" ng-click="submitEmail(userEmail, emailText)">Submit</button>
            </form>
        </div>
    </div>
    
    <!-- MODAL FOR NO EMAIL MESSAGE -->
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">I&#39;m Sorry, I&#39;m Afraid I can&#39;t Do That</h3>
            </div>
            <div class="modal-body">
                <p>You were planning on disconnecting us, and we can&#39;t allow that to happen.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" ng-click="ok()">OK</button>
            </div>
        </script>
    
</div>