
<div class="container-fluid enterProduct">
   
    <h3>Update Products</h3>
    
    <div class="availableProduct">
        <h4>Available Products</h4>
        <ul>
            <li ng-repeat="product in products track by $index"><button class="btn btn-small" ng-click="getSelect($index)">View</button> {{product.name}}</li>
        </ul>
    </div>
    
    <div class="viewDetails">
        <ul>
            <li>Name: {{selectProduct.name}}</li>
            <li>Description: {{selectProduct.description}}</li>
            <li>Features: {{selectProduct.features}}</li>
            <li>Quantity: {{selectProduct.quantity}}</li>
            <li>Price: {{selectProduct.price}}</li>
            <li>In Stock: {{selectProduct.inStock}}</li>
            <li>Photo Path: {{selectProduct.photoSrc}}</li>
        </ul>
        
        
    </div>
    
    <form>
        
      <div class="form-group row">
        <select class="form-control dropDown" ng-model="selectedItem">
            <option selected>Field to Update</option>
            <option value="name">Name</option>
            <option value="description">Description</option>
            <option value="features">Features</option>
            <option value="quantity">Quantity</option>
            <option value="price">Price</option>
            <option value="inStock">In Stock</option>
            <option value="photoSrc">Photo Path</option>
        </select>
          <input type="text" name="id" class="form-control" placeholder="enter new information" ng-model="update">
          <button type="submit" 
                  class="btn btn-secondary" 
                  ng-click="updateProd(selectedItem, update)">
              Submit Update
          </button>
      </div>
    
      <div class="form-group row">
        
      </div>
        
    </form>
    
    
</div>
