<div class="container oneProduct">
        
        <h1>{{product.name}}</h1>
        
        <div class="row productRow">
            
            <div class="col-md-4 paras">
            
                <p><b>{{product.description}}</b></p>
                
                <p>Features: {{product.features}}</p>
                
                <p>Price: {{product.price | currency}} Credits</p>
                
                <p>This item {{stockVer}} in stock.</p>
                
                <div class="formHolder">
                    <form>
                        <div class="form-group orderForm">
                            <label for="quantity">Order Quantity</label>
                            <input type="number" class="form-control" name="quantity" placeholder="quantity" ng-model="quantity">
                        </div>
                        <div class="taxes">
                            <ul>
                                <li>Firearms and Ammunition Excise Tax: {{quantity * (product.price * 0.11) | currency}}</li>
                                <li>Interplanetary Transport Fee: {{quantity * (product.price * 0.02) | currency}}</li>
                                <li>Ecological Impact Abatement: {{quantity * (product.price * 0.034) | currency}}</li>
                                <li>Warehouse Fee: {{quantity * 5 | currency}}</li>
                                <li>Prop 463 Mental Health Rider: {{quantity * 22.57 | currency}}</li>
                            </ul>
                        </div>
                        <div class="form-group orderForm">
                                <label for="total">Total Cost</label>
                                <div>{{(quantity * product.price) + (product.price * 0.164) + (quantity * 27.57) | currency}}</div>
                        </div>

                        <button type="submit" class="btn btn-secondary" ng-click="placeOrder()">Submit Order</button>
                    </form>
                </div>
            </div>
            
            <div class="col-md-4 imageCol">
                <img class="img-responsive" ng-src="{{product.photoSrc}}">
            </div>
            
            <div class="col-md-4 commentCol">
                <p><b>Owner Comments</b></p>
                <div class="comment" ng-repeat="comment in prodComments track by $index">
                    
                    <p><i>{{comment.comment}}</i></p>
                    
                    <span class="comUser">{{comment.user}}</span>
                    
                </div>
            </div>
        
        </div>
        
        <div class="commentForm">
            <form class="form-inline">
                <div class="form-group">
                    <label for="comment">Comment</label>
                    <input type="text" class="form-control" id="commentText" name="comment" placeholder="tell us about your experience" ng-model="comment">
                </div>
                <div class="form-group">
                    <label for="quantity">Your Name</label>
                    <input type="text" class="form-control" name="userName" placeholder="who are you" ng-model="userName">
                </div>
                <button class="btn btn-secondary" ng-click="sendComment(userName, comment)">Send</button>
            </form>
        </div>
        
        <!-- MODAL FOR PRODUCT OUT OF STOCK MESSAGE -->
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Product Not Available</h3>
        </div>
        <div class="modal-body">
            <p>We're sorry, {{name}} is out of stock.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" ng-click="ok()">OK</button>
        </div>
    </script>
    
    
</div>
    

