
<div class="container-fluid enterProduct">
   
    <h3>Remove Product</h3>
    
    
    <div class="currentProduct">
        <ul>
            <li ng-repeat="product in products track by product._id">
                <button type="submit" 
                    class="btn btn-secondary" 
                    ng-click="removeProd(product._id)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                    {{product.name}}</li>
        </ul>
    </div>
    
    
    
</div>