
<div class="container-fluid enterProduct">
   
    <h3>Update Products</h3>
    
    <div class="availableProduct">
        <h4>Available Products</h4>
        <ul>
            <li ng-repeat="product in products track by $index"><button class="btn btn-small" ng-click="getSelect($index)">View/Edit</button> {{product.name}}</li>
        </ul>
    </div>
    
    <div class="viewDetails">
        <ul>
            <li><span class="availField">Name:</span> {{selectProduct.name}}</li>
            <li><span class="availField">Description:</span> {{selectProduct.description}}</li>
            <li><span class="availField">Features:</span> {{selectProduct.features}}</li>
            <li><span class="availField">Quantity:</span> {{selectProduct.quantity}}</li>
            <li><span class="availField">Price:</span> {{selectProduct.price}}</li>
            <li><span class="availField">In Stock:</span> {{selectProduct.inStock}}</li>
            <li><span class="availField">Photo Path:</span> {{selectProduct.photoSrc}}</li>
        </ul>
        
        
    </div>
    
    <form>
        
      <div class="form-group row">
        <select class="form-control dropDown" ng-model="selectedItem">
            <option value="" disabled selected>Choose Field</option>
            <option value="name">Name</option>
            <option value="description">Description</option>
            <option value="features">Features</option>
            <option value="quantity">Quantity</option>
            <option value="price">Price</option>
            <option value="inStock">In Stock</option>
            <option value="photoSrc">Photo Path</option>
        </select>
          <input type="text" name="update" class="form-control" placeholder="enter new information" ng-model="update">
          <button type="submit"
                  id="updateBtn"
                  class="btn btn-secondary" 
                  ng-click="updateProd(selectedItem, update)">
              Submit Update
          </button>
      </div>
    
      <div class="form-group row">
        
      </div>
        
    </form>
    
    
</div>
